<%- include('header.ejs') %> 
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.74.1/dist/L.Control.Locate.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <style>
        body {
            display: block;
        }

        .admin-subcontent {
            height:500px;
            overflow-x:hidden;
            overflow-y:auto;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</header>
<body>
    <header class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-2 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">EcoPark Bicycle Parking</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="/admin/logout">Đăng xuất</a>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu " class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
                <div class="position-fixed pt-3 ">
                    <ul class="nav flex-column ">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin">
                          <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span> Trang chủ
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#doanhso">
                          <span class="icon"><i class="fa fa-money" aria-hidden="true"></i></span>
                          Doanh số
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#lsu">
                          <span class="icon"><i class="fa fa-history" aria-hidden="true"></i></span>
                          Lịch sử thuê xe
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#xe">
                          <span class="icon"><i class="fa fa-bicycle" aria-hidden="true"></i></span>
                          Xe đạp
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#baixe">
                          <span class="icon"><i class="fa fa-road" aria-hidden="true"></i></span>
                          Bãi xe
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#khachhang">
                          <span class="icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
                          Người dùng
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#price">
                          <span class="icon"><i class="fa fa-usd" aria-hidden="true"></i></span>
                          Giá thuê
                        </a>
                      </li>
                    </ul>
            </nav>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="margin-top: 10px;" >
                <h1>Hệ thống quản lý thuê xe ECOPARK BICYCLE PARKING</h1>
                <%- include('contentAdmin') %> 
            </main>
        </div>
    </div>
    
</body>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script>
  var message =  <%-JSON.stringify(message)%>;
  if(message !== ""){
    Toastify({
      text: message,
      position: "center",
      style: {
        background: "#198754"
      }
    }).showToast();
  }
  var error = <%-JSON.stringify(error)%>;
  if(error !== ""){
    Toastify({
      text: error,
      position: "center",
      style: {
        background: "#ffc107"
      }
    })
  }
</script>
