<%- include('header') %> 
    <style>
        .body {
            display: block;
        }
        .brand-name {
            margin: 5%;
        }
        .navi-img {
            width: 80%;
        }
        .btn {
            margin-bottom: 5%;
        }
        a {
            text-decoration: none;
            color: #fff;
            font-size: 20px;
        }
        img {
            max-width: 200px;
        }
    </style>
</head>
<body class="text-center">
    <div class="container">
        <div class="row  align-items-start">

            <div class="col col-12">
                <img class="mb-4" src="img/logo.png" alt="" width="30%">
            </div>
            
            <div class="col col-12">
                <img class="brand-name" src="img/ecopark.png" width="80%" alt="logo">
            </div>

            <div class="col col-12 col-sm-12 col-md-6 col-lg-4 infor btn">
                <a href="/infor"><img class="navi-img" src="img/taikhoan.png" alt="" ></a>
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-4 infor btn">
                <a href="/history"><img class="navi-img" src="img/lichsu.png" alt="" ></a>
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-4 map btn">
                <a href="/map"><img class="navi-img" src="img/bando.png" alt=""></a>
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-4 rent btn">
                <a href="/rent"><img class="navi-img" src="img/thuexe.png" alt=""></a>
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-4 logout btn">
                <a href="/logout"><img class="navi-img" src="img/dangxuat.png" alt=""></a>
            </div>
        </div>
    </div>
    
       
</body>


<%- include('footer') %> 