<%- include('header') %> 
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  button,
  a {
    margin-bottom: 20px;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>


</head>
  <body class="text-center"> 
    
    <main class="form-signin">
      <form action="/login" method="post">

        <% if (messages.success_msg) { %>
          <div class="alert alert-success" role="alert"><%= messages.success_msg %> </div>
        <% } %>
        
        <% if (messages.error) { %>
            <div class="alert alert-danger" role="alert"><%= messages.error %> </div>
        <% } %>

        <img class="mb-4" src="img/logo.png" alt="" width="70" height="70">

        <h1 class="h3 mb-3 fw-normal">EcoPark Bicycle Parking</h1>

        <div class="form-floating">
          <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email" required>
          <label for="floatingInput">Email</label>
        </div>

        <div class="form-floating">
          <input type="password" class="form-control" id="password" placeholder="password" name="password" required>
          <label for="password">Password</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Đăng nhập</button>

      </form>
      
      <div>
        <a id="forget" style="text-decoration: none" href="#">Quên mật khẩu</a>
      </div>
      
      <div>
        <a id="create" style="text-decoration: none" href="/register">Đăng ký tài khoản</a>
      </div>
      
    </main>

  </body>
<%- include('footer') %> 