<%- include('header') %> 
<style>
  body {
    display: flex;
  }
  .brand-name {
    color: #478640;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  button,
  a {
    margin-bottom: 20px;
    color: #478640;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

</style>


</head>
  <body class="text-center"> 
    
    <main class="form-signin">
      <form action="/login" method="post">

        <% if (messages.success_msg) { %>
          <div class="alert alert-success alert-dismissible fade show" role="alert"><%= messages.success_msg %> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% } %>
        
        <% if (messages.error) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert"><%= messages.error %> 
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>

        <img class="mb-4" src="img/logo.png" alt="" width="30%">

        <img class="mb-4" src="img/ecopark.png" width="80%"  alt="logo">

        <div class="form-floating">
          <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email" required>
          <label for="email">Email</label>
        </div>

        <div class="form-floating">
          <input type="password" class="form-control" id="password" placeholder="password" name="password" required>
          <label for="password">Password</label>
        </div>

        <button class="login w-100 btn btn-lg btn btn btn-success" type="submit">Đăng nhập</button>

      </form>
      <div>
        <a id="create" style="text-decoration: none" href="/register">Đăng ký tài khoản</a>
      </div>
      
    </main>

  </body>
<%- include('footer') %> 