<%- include('header') %>
</head> 
<body>
   <h1>Khuyến mãi đặc biệt: giảm 60% cho cư dân EcoPark</h1>

  <table class="table table-info table table-borderless">
    <thead>
      <tr>
        <th scope="col">Số tiếng thuê</th>
        <th scope="col">Số tiền phải trả (nghìn đồng)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>50000</td>
      
      </tr>
      <tr>
        
        <td>2</td>
        <td>70000</td>
       
      </tr>
      <tr>
        
        <td >3</td>
        <td>100000</td>
      </tr>
    </tbody>
  </table> 

</body>
<%- include('footer') %> 