<%- include('header') %> 

<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    #name {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    #password,
    #email {
        margin-bottom: -1px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    #password2 {
        margin-bottom: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
   
    button,
    a {
        margin-bottom: 20px;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

  
</head>

<body class="text-center"> 
    
    <main class="form-signin">
      <form action="/register" method="post">

        <div>
            <% if (typeof errors != 'undefined') { %>
             <% errors.forEach(element => { %>
                <div  class="alert alert-danger" role="alert"><%= element.message %> </div>
             <% }) %>
            <% } %>
        </div>

        <img class="mb-4" src="img/logo.png" alt="" width="70" height="70">

        <h1 class="h3 mb-3 fw-normal">EcoPark Bicycle Parking</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="name" name="name" required>
            <label for="name">Họ và tên</label>
        </div>

        <div class="form-floating">
            <input type="email" class="form-control" id="email" name="email" required>
            <label for="email">Email</label>
        </div>

        <div class="form-floating">
          <input type="text" class="form-control" id="addr" name="addr" required>
          <label for="addr">Địa chỉ</label>
        </div>

        <div class="form-floating">
          <input type="text" class="form-control" id="phone" name="phone" required>
          <label for="phone">Số điện thoại</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="CMND" name="CMND" required>
          <label for="CMND">Số CMND/CCCD</label>
        </div>
        <!--<div class="dropdown ">
          <button    class="btn btn-secondary dropdown-toggle form-control btn-lg bg-light text-dark" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Giới tính
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Nam</a>
            <a class="dropdown-item" href="#">Nữ</a>
          </div>
        </div>-->
        
        
        <!--<div>
          <label class="form-floating" for="gender">Giới tính</label>
          <input name="gender" type="radio" value="Nam" />Nam
          <input name="gender" type="radio" value="Nữ" />Nữ
        </div>-->
        <div class="col-md">
          <div class="form-floating">
            <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
              
              <option value="Nam">Nam</option>
              <option value="Nữ">Nữ</option>
              
            </select>
            <label for="floatingSelectGrid">Chọn giới tính</label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
              
              <option value="true">Có</option>
              <option value="false">Không</option>
              
            </select>
            <label for="floatingSelectGrid">Bạn có phải cư dân EcoPark không?</label>
          </div>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="macudan" name="macudan">
          <label for="macudan">Mã cư dân</label>
        </div>

        <div class="form-floating">
            <input type="password"style="padding: ;" class="form-control" id="password" name="password" required>
            <label for="password">Mật khẩu</label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control" id="password2" name="password2" required>
            <label for="password2">Xác nhận mật khẩu</label>
        </div>
        <!--<div>
          <label for="lacudan">Bạn có phải cư dân EcoPark không?</label><br>
          <input name="lacudan" type="radio" value=true />Có
          <input name="lacudan" type="radio" value=false />Không
        </div>-->

        

        

        <button class="w-100 btn btn-lg btn-primary" type="submit">Đăng ký</button>
        
      </form>
      <div>
        <a id="create" style="text-decoration: none" href="/login">Đăng nhập</a>
      </div>
      
    </main>
    <script>src = "jquery-3.3.1.min.js"</script>
    <script>src = "bootstrap.bundle.min.js"</script>
  <script>src = "bootstrap/js/bootstrap.min.js"</script>
  </body>
<%- include('footer') %> 