<%- include('header') %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.74.1/dist/L.Control.Locate.min.css" />
    <style>
    
        .body {
            display: block;
        }
        .logo {
            max-width: 200px;
        }
        .brand-name {
            margin: 5%;
            max-width: 200px;
        }
        .navi-img {
            width: 80%;
        }
        .btn {
            margin-bottom: 5%;
        }
        a {
            text-decoration: none;
            color: #fff;
            font-size: 20px;
        }

        .container {
            margin-top: 40px;
        }

        .rent-img {
            margin-bottom: 30px;
            max-width: 80%;
        }
        /**/
        .chon {
            width: 80%;
            max-width: 500px;
        }

    </style>

</head>

<body class="text-center">
    <%- include('navbar', {page: "Thuê xe"}) %> 
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <img class="mb-4 logo" src="img/logo.png" alt="" width="30%">
            </div>
            
            <div class="col col-12">
                <img class="brand-name" src="img/ecopark.png" width="80%" alt="logo">
            </div>

            <div class="col col-12">
                <a href="/map"><img src="img/chonbaixe.png" alt="" class="rent-img"></a>
            </div>
            
            <div class="col col-12 mt-4">
                <div class="chon justify-content-center align-items-center">
                    <h2>Danh sách bãi xe:</h2>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Default radio
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          Default checked radio
                        </label>
                      </div>  
                </div>  
            </div>
            <div class="col col-12 mt-4">
                <a href=""><img src="img/chonxe.png" alt="" class="rent-img"></a>
            </div>
            <div class="col-col-12 mt-4">
                <h2>Danh sách xe:</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID xe</th>
                            <th scope="col">Trạng thái xe</th>
                            <th scope="col">Chọn xe</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>A1</td>
                            <td>ok</td>
                            <td><input type="radio" name="select" id=""></td>
                        </tr>

                        <tr>
                            <td>A2</td>
                            <td>ok</td>
                            <td><input type="radio" name="select" id=""></td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="col-col-12 mt-4">
                <a href=""><img src="img/thoigianthue.png" alt="" class="rent-img"></a>
            </div>

            <div class="col col-12 mt-4">
                <h1>Khuyến mãi đặc biệt: giảm 60% cho cư dân EcoPark</h1>

                <table class="table table-striped ">
                    <thead>
                    <tr>
                        <th scope="col">Thời gian thuê (giờ)</th>
                        <th scope="col">Số tiền phải trả (nghìn đồng)</th>
                        <th scope="col">Chọn thời gian</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>50000</td>
                        <td><input type="radio" name="select" id=""></td>
                    </tr>
                    <tr>
                        
                        <td>2</td>
                        <td>70000</td>
                        <td><input type="radio" name="select" id=""></td>
                    </tr>
                    <tr>
                        
                        <td >3</td>
                        <td>100000</td>
                        <td><input type="radio" name="select" id=""></td>
                    </tr>
                    </tbody>
                </table> 
            </div>

            <div class="col col-12 mt-4">
                <a href=""><img src="img/btnthuexe.png" alt="" class="rent-img"></a>  
            </div>
        </div>
    </div>


</body> 
<%- include('footer') %> 